.AboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  font-size: 4vh;
  width: 50%;
  margin-left: 25%;
  margin-right: 20%;
  background-image: linear-gradient(
    rgba(132, 0, 255, 0.568),
    rgb(4, 5, 105),
    rgb(7, 97, 104)
  );
  justify-content: center;
  border-radius: 60px;
  margin-top: 3%;
  padding: 2rem;
  padding-top: 0px;
  border: 4px solid rgb(98, 1, 255);
}

.tecnologiasContainer {
  display: flex;
  flex-direction: row;
  gap: 3vh;
  background-image: linear-gradient(
    rgba(5, 179, 223, 0.61),
    rgba(4, 18, 212, 0.63),
    rgba(143, 7, 233, 0.425)
  );
  border-radius: 50px;
  border: 0.3vh solid rgb(0, 60, 255);
  padding: 2vh;
  width: 46vh;
  height: 30vh;
}

.columnasTec {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  width: 30%;
}

.tecnologias {
  font-size: 2vh;
  padding-top: 0.5rem;
}
.tecnologias img {
  height: 9vh;
  width: auto;
}
.parrafo {
  text-align: center;
  font-size: 2vh;
  padding-bottom: 0.5rem;
  width: 55%;
}

.saludo {
  margin: 0.5rem;
  padding: 0rem;
}

.henryLogo {
  height: 1.6vh;
  padding-left: 0.2vh;
}

.firstParag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.shoutout {
  font-size: 1.8vh;
  margin-top: 6vh;
  margin-bottom: 0;
}

.shoutout a {
  text-decoration: none;
  color: rgb(0, 174, 255);
}

.shoutout a:active {
  text-decoration: none;
  color: rgb(0, 174, 255);
}

.express {
  background-image: radial-gradient(
      ellipse at center,
      rgba(98, 0, 255, 0.993),
      rgba(0, 102, 255, 0.993)
    ); /* La imagen que se muestra encima del fondo */
  /* Ajustamos el tamaño de la imagen para que cubra el contenedor */
  background-size: cover;
  /* Centramos la imagen en el contenedor */
  background-position: center;
  /* Evitamos que la imagen se repita */
  background-repeat: no-repeat;
  border-radius: 200px;
}

.nodeLogo,
.express {
  max-height: 6vh;
}

.footer {
  font-size: 1.5vh;
}
