.cardsContainer{
    border: 1px transparent rgb(255, 0, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 170vh;

}

.filterOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 4.5vh;
    align-items: center;
    width: 150vh;
    max-width: 180vh;
    border-radius: 200px;
    align-items: center;
    padding: 0;
    color: #fffdfd;
    background-image: linear-gradient(90deg, #272d9dc0, #000000, #7a36abaf );
    font-size: 1.4vh;
    margin-top: 10px;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vh;
    margin-right: 3vh;
    background-image: linear-gradient(25deg, rgba(135, 0, 253, 0.279), rgba(96, 96, 96, 0.32), rgba(99, 6, 165, 0.427) );
    border-radius: 200px;
    padding: 5px 15px 8px 15px;
    width: 20vh;
    height: 2vh;
}

.options select{
    background-color: rgb(72, 1, 127);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 15px;
    height: 2.3vh;
    width: 15vh;
    font-size: 1.4vh;
}

.button{
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 0.24em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-image: linear-gradient(25deg, rgba(4, 8, 254, 0.548), rgba(2, 2, 110, 0.487), #0225c4c4 );
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 58px;
    margin-right: 58px;
    text-decoration: none;
    color: #fffcfc;
    
  }
  .button:hover {
    border-color: #646cff;
  }
  
  .button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .ordenarPor{
    color: whitesmoke;
    font-weight: bold;
    font-size: 2vh;
  }

  .notFound{
    font-size: 7vh;
    background-image: linear-gradient(50deg, rgba(154, 4, 254, 0.548), rgba(203, 9, 9, 0.634), #0225c4c4 );
    padding: 3vh;
    border-radius: 500px;
  }